Repository Lumina-Enterprise-Solutions/prism-notification-service, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/DevOps-Team, @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

.github/CODEOWNERS:

# Garis ini menetapkan Tim Inti (Core Team) sebagai pemilik default untuk semua file di repo ini.
*       @Lumina-Enterprise-Solutions/Core-Team

# Perubahan pada konfigurasi CI/CD dan workflow harus direview oleh Tim DevOps.
.github/workflows/   @Lumina-Enterprise-Solutions/DevOps-Team

# Dockerfile adalah tanggung jawab bersama antara Tim Inti dan Tim Platform.
Dockerfile          @Lumina-Enterprise-Solutions/Core-Team @Lumina-Enterprise-Solutions/Platform-Team

# Perubahan pada dependensi (go.mod, go.sum) memerlukan persetujuan dari Tim Arsitektur.
go.mod              @Lumina-Enterprise-Solutions/Architecture-Team
go.sum              @Lumina-Enterprise-Solutions/Architecture-Team

# File utama aplikasi dan handler juga memerlukan pengawasan dari Tim Arsitektur.
main.go             @Lumina-Enterprise-Solutions/Architecture-Team @Lumina-Enterprise-Solutions/Core-Team
internal/handler/   @Lumina-Enterprise-Solutions/Architecture-Team @Lumina-Enterprise-Solutions/Core-Team

fix: improve error handling in loadSecretsFromVault and email sending
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

chore: comment out coverage report upload step in CI workflow
  .github/workflows/ci.yml
Owners: @Lumina-Enterprise-Solutions/DevOps-Team

feat: update prism-common-libs dependency to v1.0.1 and implement configuration loading
  config/config.go
  go.mod
  go.sum
  internal/service/queue_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

feat: update prism-common-libs dependency to v1.0.1 and implement configuration loading (#2)
  config/config.go
  go.mod
  go.sum
  internal/service/queue_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

feat: update configuration to load Vault address and token from environment variables
  config/config.go
  go.mod
  go.sum
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

feat: update prism-common-libs to v1.2.5 and integrate zerolog for improved logging
  go.mod
  go.sum
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat: implement graceful shutdown for notification worker and HTTP server
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat: implement retry logic for email sending and add DLQ handling
  internal/service/queue_service.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

Implement Redis Queue Service Tests, WebSocket Hub, and Email Templates
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Dockerfile.mono
  Makefile
  README.md
  go.mod
  go.sum
  internal/handler/notification_handler.go
  internal/handler/notification_handler_test.go
  internal/service/email_service.go
  internal/service/email_service_test.go
  internal/service/queue_service.go
  internal/service/queue_service_test.go
  internal/websocket/hub.go
  internal/websocket/hub_test.go
  main.go
  templates/password_reset.html
  templates/welcome.html
Owners: @Lumina-Enterprise-Solutions/DevOps-Team, @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Platform-Team, @Lumina-Enterprise-Solutions/Architecture-Team

fix: improve error handling in WebSocket and Redis client closures
  internal/handler/notification_handler_test.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

refactor: update release workflow to improve clarity and use modern GitHub actions
  .github/workflows/release.yml
Owners: @Lumina-Enterprise-Solutions/DevOps-Team

refactor: enhance release workflow to publish Docker images and improve metadata extraction
  .github/workflows/release.yml
Owners: @Lumina-Enterprise-Solutions/DevOps-Team

chore: add MIT License to the project
  LICENSE
Owners: @Lumina-Enterprise-Solutions/Core-Team

Create index.html
  index.html
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: implement RabbitMQ queue service and update notification handling logic
  Makefile
  Makefile.ops
  config/config.go
  go.mod
  go.sum
  internal/handler/notification_handler_test.go
  internal/service/queue_service.go
  internal/service/queue_service_test.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

fix: improve error handling for Redis and RabbitMQ connection closures
  internal/handler/notification_handler_test.go
  internal/service/queue_service.go
  internal/service/queue_service_test.go
  main.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team

feat: update Dockerfile and go.mod for new invitation service; improve error handling in queue service and websocket hub; add invitation email template
  Dockerfile.mono
  go.mod
  go.sum
  internal/handler/notification_handler.go
  internal/handler/notification_handler_test.go
  internal/service/queue_service.go
  internal/websocket/hub.go
  main.go
  templates/invitation.html
Owners: @Lumina-Enterprise-Solutions/Core-Team, @Lumina-Enterprise-Solutions/Architecture-Team

feat: add tests for RabbitMQ consumer; implement success and failure scenarios
  internal/service/queue_service_test.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: enhance email service credential validation to prevent unintended simulation mode
  internal/service/email_service.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: implement RabbitMQ topology setup and mock methods for testing
  internal/service/queue_service.go
  internal/service/queue_service_test.go
Owners: @Lumina-Enterprise-Solutions/Core-Team

feat: update RabbitMQ configuration and enhance tests for topology setup
  go.mod
  go.sum
  internal/service/queue_service.go
  internal/service/queue_service_test.go
Owners: @Lumina-Enterprise-Solutions/Architecture-Team, @Lumina-Enterprise-Solutions/Core-Team
